.barra_lgpd{
 background-color: cornflowerblue;
 position: fixed;
 left: 20px;
 right: 20px;
 bottom: 20px;
 padding: 20px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.barra_lgpd_esquerda{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.barra_lgpd_direita button{
    background-color: lawngreen;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}